html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: 'Gill Sans MT', sans-serif;
}

scene {
  width: 1280px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  width: 100%;
  height: 100%;
}

/* speech bar */

speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(11, 14, 19, 0.9);
  width: 100%;
  height: 10vh;
}

.novelPage {
  width: 50%;
  height: 50%;
  position: absolute;
  top: -30%;
  background-color: rgb(224, 212, 193);
}

.novelPage h1{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 50px;
}

.novelPage p{
  margin-left: 10%;
  margin-top: 5%;
  font-size: 30px;
}

#ausruf {
  /*background-image: url('Images/emotion-ausrufezeichen.gif');*/
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:10%; 
  z-index: 20;
}

.nachbauScene {
  height: 90%;
  width: 100%;
}

.canvasNachbau {
  position: absolute;
  top: 0px;
  width: 1280px;
  height: 675px;
  margin-left: auto;
  margin-right: auto;
}
